#header {
    height: 100px;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #00165A , #008080);
    color: white;
}

#search-container { 
    border: #008080 solid 1px;
    border-radius: 5px;
    padding: 20px;
}

#search-input {
    max-height: 30px;
}

#form-heading {
    padding-bottom: 10px;
}

#search-button {
    background-color: #00165A;
    opacity: 0.9;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    max-height: 30px;
}

.history-item {
    list-style-type: none;
}

.history-button {
    background-color: #00165A;
    opacity: 0.9;
    width: 100px;
    border-radius: 5px;
    color: white;
    margin: 5px;

}

#today {
    border: #00165A solid 1px;
    border-radius: 5px;
    height: flex;
    padding: 20px;
}

#forecast {
    border: #008080 solid 1px;
    border-radius: 5px;
    height: 10rem;
    padding: 20px;
}

#forecast-header {
    border-bottom: #008080 1px dotted;
}

#city-name { 
    display: inline-block;
}

#forecast {
    height: auto;
}

.card { 
    display: inline-block;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}