#header {
    height: 100px;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #00165A , #008080);
    color: white;
}


#search-input {
    height: 30px;
    width: 100%;
}

#form-heading {
    padding-bottom: 10px;
}

#search-button {
    background-color: #00165A;
    opacity: 0.9;
    width: 200px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    height: 30px;
}

.history-item {
    list-style-type: none;
}

.history-button {
    background-color: #00165A;
    opacity: 0.9;
    width: 200px;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

#search-history {
    padding-top: 30px;
    display: block;
}


#today {
    border: #00165A solid 1px;
    border-radius: 5px;
    height: flex;
    padding: 20px;
    width: auto;
}

#forecast {
    border: #008080 solid 1px;
    border-radius: 5px;
    height: 10rem;
    padding: 20px;
    width: auto;
}

#forecast-header {
    border-bottom: #008080 1px dotted;
}

#city-name { 
    display: inline-block;
}

#forecast {
    height: auto;
}

.card { 
    display: inline-block;
    width: 20%;
    padding: 10px;
    background-color: #00165A;
    color: white;
    border: white solid 5px;
}

@media only screen and (max-width: 600px) {
    .card {
        display: block;
        width: 100%;
    }
}

